@page "/show/cars/{cusId}/{Role}"

@if (Role.ToLower() == "customer")
{
    <RadzenDataGrid Data="@customer.cars" AllowVirtualization="true" Style="height:400px"
                    AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn Title="Id">
                <Template Context="item">
                    M-STK-@item.Id
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="car_year" Title="Year" />
            <RadzenDataGridColumn Property="car_make" Title="Make" />
            <RadzenDataGridColumn Property="car_model" Title="Model" />
            <RadzenDataGridColumn Property="status" Title="Status" />
            <RadzenDataGridColumn Title="Company">
                <Template Context="item">
                    @item?.Company?.Name
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Created By">
                <Template Context="item">
                    @item.created_by?.UserName
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Driver">
                <Template Context="item">
                    <span style="cursor: pointer; color: #4340D2;" @onclick="(() => OpenUpdateDriverModal(item.driver.Id))">@item.driver?.UserName</span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Actions">
                <Template Context="item">
                    <RadzenButton Variant="Variant.Text" Click="() => OpenUpdateVehicleModal(item.Id)">
                        <RadzenIcon Icon="edit" Style="font-size: 20px" />
                    </RadzenButton>
                    <RadzenButton Variant="Variant.Text" Click="() => DeleteVehicle(item)">
                        <RadzenIcon Icon="delete" Style="font-size: 20px" />
                    </RadzenButton>
                    <RadzenButton Variant="Variant.Text" Click="() => OpenVehicleCommentModal(item.Id)">
                        <RadzenIcon Icon="question_answer" Style="font-size: 20px" />
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <RadzenDataGrid Data="@driver.driver_cars" AllowVirtualization="true" Style="height:400px"
                    AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                    AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn Title="Id">
                <Template Context="item">
                    m-veh-@item.Id
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="car_year" Title="Year" />
            <RadzenDataGridColumn Property="car_make" Title="Make" />
            <RadzenDataGridColumn Property="car_model" Title="Model" />
            <RadzenDataGridColumn Property="status" Title="Status" />
            <RadzenDataGridColumn Title="Company">
                <Template Context="item">
                    @item?.Company?.Name
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Created By">
                <Template Context="item">
                    @item.created_by?.UserName
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Customer">
                <Template Context="item">
                    <span style="cursor: pointer; color: #4340D2;" @onclick="(() => OpenUpdateCustomerModal(item.customer.Id))">@item.customer?.cfname @item.customer?.clname</span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Actions">
                <Template Context="item">
                    <RadzenButton Variant="Variant.Text" Click="() => OpenUpdateVehicleModal(item.Id)">
                        <RadzenIcon Icon="edit" Style="font-size: 20px" />
                    </RadzenButton>
                    <RadzenButton Variant="Variant.Text" Click="() => DeleteVehicle(item)">
                        <RadzenIcon Icon="delete" Style="font-size: 20px" />
                    </RadzenButton>
                    <RadzenButton Variant="Variant.Text" Click="() => OpenVehicleCommentModal(item.Id)">
                        <RadzenIcon Icon="question_answer" Style="font-size: 20px" />
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

