@page "/admin/updatecustomer/{cusId}"

@inject Radzen.DialogService dialogService

<RadzenTemplateForm TItem="CustomerModel" Data=@customer Submit="@UpdateCustomer">
    <RadzenRow AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="First Name" Component="FirstName" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.cfname" Name="FirstName" Style="width: 100%;" />
            <RadzenRequiredValidator Component="FirstName" Text="First name is required" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Last Name" Component="LastName" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.clname" Name="LastName" Style="width: 100%;" />
            <RadzenRequiredValidator Component="LastName" Text="Last name is required" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Address" Component="Address" /> <span style="color: red;">*</span>
            <RadzenAutoComplete Name="Address" Change=@OnChange @bind-Value=@customer.caddress Data="@relatedAddresses.Results" TextProperty="Address.FreeformAddress" LoadData=@searchAddress Style="width: 100%" />
            <RadzenRequiredValidator Component="Address" Text="Address is required" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Zip Code" Component="ZipCode" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.czip_code" Name="ZipCode" Style="width: 100%;" />
            <RadzenRequiredValidator Component="ZipCode" Text="Zip Code is required" />
            <RadzenRegexValidator Component="ZipCode" Text="ZIP code must be 5 digits" Pattern="\d{5}" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="City" Component="City" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.ccity" Name="City" Style="width: 100%;" />
            <RadzenRequiredValidator Component="City" Text="City is required" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Country" Component="Country" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.ccountry" Name="Country" Style="width: 100%;" />
            <RadzenRequiredValidator Component="Country" Text="Country is required" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="State" Component="State" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.cstate" Name="State" Style="width: 100%;" />
            <RadzenRequiredValidator Component="State" Text="State is required" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Phone Number" Component="PhoneNumber" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.cphone_number" Name="PhoneNumber" Style="width: 100%;" />
            <RadzenRequiredValidator Component="PhoneNumber" Text="Phone number is required" />
            <RadzenRegexValidator Component="PhoneNumber" Text="Phone number must be 10 digits" Pattern="\d{10}" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Email" Component="Email" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.email" Name="Email" Style="width: 100%;" />
            <RadzenRequiredValidator Component="Email" Text="Email is required" />
            <RadzenRegexValidator Component="Email" Text="Email must be valid" Pattern="@email_regex" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Company Name" Component="CompanyName" /> <span style="color: red;">*</span>
            <RadzenTextBox @bind-Value="customer.company_name" Name="CompanyName" Style="width: 100%;" />
            <RadzenRequiredValidator Component="CompanyName" Text="Company name is required" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Customer Type" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" /> <span style="color: red;">*</span>
            <RadzenDropDown @bind-Value="@customer.customer_type" Name="CustomerType" Data="@customer_types" Style="width: 100%; max-width: 400px;" />
            <RadzenRequiredValidator Component="CustomerType" Text="Customer type is required" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
            <RadzenLabel Text="Number Type" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" /> <span style="color: red;">*</span>
            <RadzenDropDown @bind-Value="@customer.number_type" Data="@number_types" Name="NumberType" Style="width: 100%; max-width: 400px;" />
            <RadzenRequiredValidator Component="NumberType" Text="Number type is required" />
        </RadzenColumn>
    </RadzenRow>
@*     <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="12" SizeLG="12">
            <RadzenLabel Text="Company" Component="DropDownBindValue"
                            Style="margin-right: 8px; vertical-align: middle;" /> <span style="color: red;">*</span>
            <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.Contains" AllowFiltering="true" @bind-Value="@customer.CompanyId" Data="@companies"
                            Name="NumberType" Style="width: 100%" TextProperty="Name" ValueProperty="Id" />
            <RadzenRequiredValidator Component="NumberType" Text="Company is required" />
        </RadzenColumn>
    </RadzenRow> *@
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="12" SizeLG="12">
            <RadzenFormField Text="Customer Notes" Variant="Variant.Flat" Style="width: 100%; max-width: 770px;">
                <RadzenTextArea @bind-Value="customer.customer_notes" Style="width: 100%;" />
            </RadzenFormField>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-py-sm-4">
        <RadzenColumn Size="12" SizeMD="12" SizeLG="12">
            <RadzenLabel Text="Contact Prefrences" Component="CheckBox2" Style="margin-right: 8px; vertical-align: middle;" />
            <RadzenCheckBoxList Style="width: 100%; max-width: 770px;" Data="contact_prefrence" @bind-Value="@selected_contact_prefrence" TValue="string" class="mt-3" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenButton ButtonType="ButtonType.Submit">Update</RadzenButton>
</RadzenTemplateForm>